{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "**/index.ts",
    "**/interfaces/**",
    "**/*.spec.ts",
    "scripts/register.js"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcov"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "all": true
}
